.header{
    position: fixed;
    width: 100%;
    left: 0px;
    top:0px;
    z-index: 1;
    transition: all 0.5s linear;
    background-color: #FFFF;
    box-shadow: 0px 8px 9px rgba(9, 30, 66, 0.04);
    &:hover {
      box-shadow: 0px 15px 16px rgba(9, 30, 66, 0.09);
    }
    &__container{
        max-width: 1440px;
        width:100%;
        margin: 0 auto;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    &__search{
        max-width: 542px;
        width:100%;
    }
    &__create{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
         &:hover {
            path {
                stroke: #c43e3e;
                fill:#c43e3e;
            }
        }
    }
    &__favorite{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            path {
                stroke: #c43e3e;
                fill:#c43e3e;
            }
        }
    }
    &__fav{
        path {
            transition: all .2s ease 0s;
            stroke: #c43e3e;
            fill:#c43e3e;
        }
    }
    &__disabled {
        opacity: 0.4;
        pointer-events: none; 
        cursor: default;
        path {
            stroke: #565656;
            fill:#565656;
        }
  }
    &__logo{
        font-family: var(--font-montserrat), sans-serif;
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s ease 0s;
        color: #24292F;
        &:hover {
            color: #3a3a3a;
        }
        &:active {
            color: #565656;
        }
        
    }
    
}


