.footer{
    background-color: #EAEAEA;
    &__container{
        max-width: 1440px;
        margin: 0 auto;
        background-color: #FFFF;
        border-radius: 30px 30px 0 0;
        padding: 40px 20px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__git{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        path{
            transition: fill 0.3s ease;
        }
        
        &:hover path{
            fill: #3a3a3a;
        }
        &:active path{
            fill: #565656;
        }
    }
}