.searchInput{
    max-width: 542px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #24292F;
    margin-top: 5px;
    margin-bottom: 10px;
    &__input{
        max-width: 502px;
        width: 100%;
        padding: 10px;
        &:focus {
            outline: none;
        }
        &::placeholder {
        font-family: var(--font-montserrat), sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: rgba(168, 168, 168, 1);
    }
    }
    &__icon{
        position: absolute;
        top: 10px;
        right: 16px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
