.create{
    margin-top:100px;
    &__container{
        max-width: 1160px;
        width:100%;
        margin: 0 auto;
        padding: 0px 20px;
    }
    &__back{
        margin-bottom: 37px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 50px 30px;
        row-gap: 20px;
        margin-bottom: 72px;
        background-color: #ffffff;
        border-radius: 30px;
    }
    &__info{
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
    }
    &__text{
        font-family: var(--font-montserrat), sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #313037;
    }
    &__input{
        height: 40px;
        width: 500px;
        font-family: var(--font-montserrat), sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #313037;
        border-bottom: 1px solid #313037;
    }
    &__button{
        margin: 20px auto 0;
        font-family: var(--font-montserrat), sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #313037;
        border: 1px solid #313037;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all .5s ease 0s;
        &:hover  {
            color: #ffffff;
            background-color: #da6213;
            border-color: #ffffff;
        }
    }
}